<% provide(:title, "All users") %>
<h1>All users</h1>

<!-- the pagination links are going to appear above and below our list -->
<%= will_paginate %>

<ul class="users">
  <!-- Rails infers you want to go through each user and render them using
  the user partial -->
  <%= render @users %>
</ul>

<%= will_paginate %>
