<% provide(:title, "All users") %>
<h1>All users</h1>

<!-- the pagination links are going to appear above and below our list -->
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <!-- Rails infers you want to go through each user and render them using
    the user partial -->
    <%= render @users %>
  <% end %>
</ul>

<%= will_paginate %>
